<div class="col-md-6 offset-md-3">
  <h3>Choose new team</h3>


  <p *ngIf="error?.message" class="alert alert-danger">{{error?.message}}</p>

    <form class="player-transfer" (ngSubmit)="onSubmit()">

      <select [(ngModel)]="newTeamId" name="newTeamId" id="newTeamId">
        <option  *ngFor="let footballTeam of footballTeams" [ngValue]="footballTeam.id" >{{footballTeam.teamName}}</option>
      </select>

      <button class="btn btn-primary" type="submit">Submit</button>

    </form>

</div>
